 .first-class {
	
	color: green;

	/* to target a class, use a period first */
	/* to target an id, use # */

}

.second-class {
	
	font-size: 16px;
}

#number-one {
	
	color:red

}

#nuber-two {
	
	font-size: 24px
}